@import url('https://fonts.googleapis.com/css2?family=Abel&family=Archivo:wght@400;700&family=Bebas+Neue&family=Cabin:wght@400;500;600;700&family=COCO+Gothic&family=Comfortaa:wght@300;400;500;600;700&family=Dancing+Script&family=Fira+Sans:wght@400;500;600;700&family=Heebo:wght@400;500;600;700&family=Inter:wght@400;500;600;700&family=Josefin+Sans:wght@400;500;600;700&family=Lato:wght@400;700;900&family=Lora:wght@400;700&family=Montserrat:wght@400;500;600;700;800&family=Nunito:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&family=Oswald:wght@400;500;600;700&family=Playfair+Display:wght@400;700;900&family=Quicksand:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  --font-display-arial: "Arial", sans-serif;
  --font-soft-poppins: "Poppins", sans-serif;
  --font-soft-quicksand: "Quicksand", sans-serif;
  --font-body-nunito: "Nunito", sans-serif;
  --font-abel: "Abel", sans-serif;
  --font-archivo: "Archivo", sans-serif;
  --font-bebas: "Bebas Neue", cursive;
  --font-cabin: "Cabin", sans-serif;
  --font-comfortaa: "Comfortaa", cursive;
  --font-dancing-script: "Dancing Script", cursive;
  --font-fira: "Fira Sans", sans-serif;
  --font-heebo: "Heebo", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-josefin: "Josefin Sans", sans-serif;
  --font-lato: "Lato", sans-serif;
  --font-lora: "Lora", serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-opensans: "Open Sans", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-raleway: "Raleway", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

/* .category-font {
  font-family: var(--font-lora) !important;
} */
